:root {
  --primary-color: #a55116;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}
.container {
  width: 100%;
  margin: auto;
}
.bg-dark {
  background-color: #333;
  color: #fff;
}
.bg-light {
  background-color: #dadada;
  color: #333;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  color: #bb7917;
}

/* TOP NAV */
.top-nav {
  padding: .2rem 1rem;
  display: none;
}
.top-nav .container, 
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* NAVBAR */


.navbar {
  padding: .5rem 1rem;
}
.collapse:not(.show) {
  display: none;
}

.navbar-brand img {
  height: 3rem;
}
.navbar-toggler {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.8rem;
  color: var(--primary-color)
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
}


/* SHOWCASE */
#showcase {
  background: #ffffff46 url('https://images.unsplash.com/photo-1580933073521-dc49ac0d4e6a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1769&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  min-height: 50vh;
}
#showcase .container {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}
#showcase .container img {
  height: 500px;
  display: none;
}
.content {
  align-self: center;
}




@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
  .collapse:not(.show) {
    display: block;
  }
  .navbar-nav {
    flex-direction: row;
  }
  a {
    padding: 0 .5rem;
  }
  .top-nav {
    display: block;
  }
  .container {
    max-width: 720px;
  }
  #showcase .container img {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}