.animate{
    position: relative;
    
    animation-duration: 5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
/*     animation-fill-mode: both; */
    /* animation-delay: 2s; */
    /* animation-timing-function: ease-in-out; */

}

.slide-in-left{
    animation-name: slide-in-left;
}

.slide-in-right{
    animation-name: slide-in-right;
}

.rainbow{
    animation-name: rainbow;
}
.slide-around{
    animation-name: slide-around;
}

@keyframes slide-in-left{
    from { left: -100px; }
    to   { left: 100px;}
}

@keyframes slide-in-right{
    0% { left: 100%; }
    100% { left: calc(100% - 200%); }
}

@keyframes rainbow{
    0% { background-color: blue;}
    25%{ background-color: red;}
    50%{ background-color: green;}
    75%{ background-color: yellow;}
    100%{ background-color: pink;}
}

@keyframes slide-around{
    0%{
        top: 0;
        left: 0;
        background-color: blue;
    }
    25%{
        top:0;
        left: calc(100% - 100px);
        background-color: red;
    }
    50%{
        top:calc(100% - 100px) ;
        left: calc(100% - 100px);
        background-color: green;
    }
    75%{ 
        top: calc(100% - 100px);
        left: 0;
        background-color: yellow;
    }
    100%{
        top: 0;
    }
}