/* Importer */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;0,900;1,700;1,800&family=Roboto:ital,wght@0,500;0,700;1,500&display=swap');
@import './colors.css';


/* Nollställa och sätta ny bas styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #eee;
  color: #222;
}
