/* Importer */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;0,900;1,700;1,800&family=Roboto:ital,wght@0,500;0,700;1,500&display=swap');
@import './colors.css';


/* Nollställa och sätta ny bas styling */
/* Generell styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #eee;
  color: #222;
}


/* Hjälpklasser */

.container {
  width: 80%;
  margin: auto;
}
.btn {
  padding: .4rem 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}
.mt-1{ margin-top: 1rem; }
.mt-2{ margin-top: 2rem; }
.p-1{ padding: 1rem; }


/* section 1 start */
.card {
  border: 1px solid #333;
  padding: 3rem;
  border-radius: 20px;
  box-shadow: 3px 3px 10px 0 #333;
}
/* Section-1 end */

/* section 2 */

#section-2 {
  height: 400px;
  width: 100%;
  border: 1px solid red;
  background-image: url('../assets/img/small.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* section 3 */


/* media queries */

@media(min-width: 768px) {
  .card {
    background-color: #333;
    color: #fff;
  }
  #section-2 {
    background-image: url('../assets/img/medium.jpg');
  }
}