@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;0,900;1,700;1,800&family=Roboto:ital,wght@0,500;0,700;1,500&display=swap');
@import './colors.css';



.border {
  font-family: 'Roboto', sans-serif;
  border: 1px solid #333;
  /* background-color: var(--secondary-color); */
}

.color {
  color: var(--primary-color);
}

@media (min-width: 768px) {
  body {
    /* background-color: var(--secondary-color); */
  }
  .border {
    max-width: 768px;
    margin: auto;
  }
}

/* @media only screen and (orientation: landscape) {
  body {
    background-color: var(--secondary-color);
  }
} */