* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.item {
  background-color: #a9c7df;
  border: 1px dotted #333;
  padding: 1rem;
}

.item:nth-child(even) {
  background-color: #d8e1e9;
}

header {grid-area: header;}
nav {grid-area: nav;}
aside {
  grid-area: aside;
  display: none;
}
main {grid-area: main;}
footer {grid-area: footer;}

.grid {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: 
  "header"
  "nav"
  "main"
  "footer"
  ;
}

@media (min-width: 768px) {
  .grid {
    grid-template-areas: 
    "header   header"
    "nav      nav"
    "main     aside"
    "main     aside"
    "main     aside"
    "main     aside"
    "footer   footer"
    ;
  }
  aside {
    display: block;
  }
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: 5fr 1fr;
  }
  /* nav {
    height: 50px;
  } */
}