.spinner-container{
    position: relative;
}

.circle{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 4px solid #777;
    position: absolute;
}

.animate{
    animation-name: ripple;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

#c1 {
    animation-delay: 0s;
}
#c2 {
    animation-delay: 1s;
}
#c3 {
    animation-delay: 2s;
}

@keyframes ripple{
    from {
        transform: scale(0);
        opacity: 1;
    }
    to {
        transform: scale(1);
        opacity: 0;
    }
}   