@import "../default.css";

.d-flex {
    display: flex;
}

#primary-section,
#secondary-section {
    flex: 1;
}

#primary-section {
    order: 2;
}
#secondary-section {
/*     order: 2; */

}
#secondary-section {
/*     order: 1; */
flex-direction: column;
}


.box {
    flex: 1;
    padding: 20px;
}
.reverse {
    flex-direction: row-reverse;
}

/* #primary-section .box:nth-child(1) { background-color: #8ab3c2; color: #f5fcff; }
#secondary-section .box:nth-child(1) {background-color: #b5d5e2;}
#secondary-section .box:nth-child(2) {background-color: #9ec8d8;} */

#box-1 { background-color: #8ab3c2; color: #f5fcff; }
#box-2 {background-color: #b5d5e2;}
#box-3 {background-color: #9ec8d8;}