* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.border {
  border: 2px solid red;
}
.blue {
  border-color: blue;
}
.navbar {
  background-color: #6ea0a7;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  /* flex: 1; */
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  width: 70%;
  /* flex: 1; */
}



li {
  list-style: none;
}