*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
    "navbar navbar"
    "side   gallery";
}

#main-nav{
    grid-area: navbar;
    background-color: tomato;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.navbar-brand{
    color: white;
    text-decoration: none;
}

.navbar-nav{
    display: flex;
   /*  list-style: none; */
}

.navbar-nav li{
    list-style: none;
}

.nav-link{
    color: white;
    text-decoration: none;
/*     border: 1px solid#fff; */
    padding: 1rem;
    display: inline-block;
}

.nav-link:hover{
    background-color:#0000001c;
}

#side-menu{
    grid-area: side;
    background-color: #b33b26;
    padding: 1rem;
}

#side-menu a{
    display: block;
    color: white;
    text-decoration: none;
    margin: 2rem 0;
}

#gallery{
    grid-area: gallery;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1rem;

}

.img{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

