@import './widescreen.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.image {
  width: 300px;
}
.container {
  margin: auto;
  width: 100%;
  padding: 0 1rem;
  text-align: center;
  background-color: #dadada;
}