#post-1 {
  color: darkred;
}
h1 {
  color: red;
}
h1 {
  color: blue;
}
p {
  color: #0000ff;
}
small {
  color: rgb(0, 0, 255);
}

.post p, .sm {
  color: #0a5172;
}
/* .sm {
  color: chocolate;
} */